target/
.DS_Store
*.swp
/toydata
/trash
*hprof*
*.log
/from-CMU/
*~
/experiments
*.pyc
/stanford-logs
/src/main/resources/*
*.pdf
/temp
/fs-global-train*
*-perf*.txt
/bin/
logging/
/perf*
/agiga2/
/data/
*.rdb
/notes/
/realdata/
semafor
/logs/
/saved-models/
.classpath
.project
.settings
scripts/having-a-laugh/*.fs
scripts/having-a-laugh/*.txt
.idea
lib
slurm-*
octave-workspace
logs-remote
models
log4j.properties
scripts/tge_example.py
copy-data-up-to-coe-grid.sh
evaluation
scripts/debug/
scripts/fact-files/
sf*-queries.xml
speculative/
conll2012-dataset-counts-check.txt
/*.txt
jar-to-grid.sh
mvn-deploy-deps.sh
semdiff-search-logs/
/.sw*
/feb*-backup
